<form ng-submit="submitComment()">
  <div class="form-group mt-3">
    <div class="row">
      <div class="col-10">
        <input type="text" 
               name="comment" 
               ng-model="createComment.text" 
               class="form-control"
               placeholder="Comment"
               required>
      </div>

      <div class="col-2">
        <button type="submit"        
                class="form-control 
                       btn btn-primary 
                       btn-primary--custom 
                       rounded 
                       submit 
                       px-3">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        
      </div>
    </div>
  </div>
</form>